.profile__button-edit {
  background-image: url(../../../images/button-edit.svg);
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  border: 1px solid #ffffff;
  cursor: pointer;

  display: flex;
  align-self: center;
  padding: 0;
  margin-bottom: 35px;
  margin-left: 18px;
}

.profile__button-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    margin-bottom: 23px;
    margin-left: 10px;
  }
}

