.element__grid {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 51px 0 67px;
  margin: 0 auto;
  list-style: none;
}

@media screen and (max-width: 920px) {
  .element__grid {
    max-width: 586px;
  }
}

@media screen and (max-width: 620px) {
  .element__grid {
    max-width: 282px;
    padding: 36px 0 48px;
    gap: 15px 17px;

  }
}
